<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">

    <title>To Do List</title>

    <header class="navbar">
        <ul class="nav">

            <li class="nav-item <%= currentPage === "index" ? "active" : "" %>">
                <a href="/index" class="nav-link">General</a>
            </li>

            <li class="nav-item <%= currentPage === "work" ? "active" : "" %>">
                <a href="/work" class="nav-link">Work</a>
            </li>

        </ul>
    </header>

</head>